<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="zeebregtsCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="zeebregtsCs.Properties.Settings.zeebregtsDBConnectionString"
      connectionString="&quot;Server=SQL-SERVER;Database=zeebregtsdb;Trusted_Connection=Yes;Integrated Security=SSPI&quot;"
      providerName="System.Data.SqlClient" />
    <add name="zeebregtsCs.Properties.Settings.zeebregtsdbConnectionStringRemote"
      connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!"
      providerName="System.Data.SqlClient" />
    <add name="zeebregtsCs.Properties.Settings.ZeebregtsDbLocalBeta"
      connectionString="Data Source=SQL-SERVER;Initial Catalog=zeebregtsdbBeta;Trusted_Connection=Yes;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="zeebregtsCs.Properties.Settings.ZeebregtsDbRemoteBeta"
      connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdbBeta;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!"
      providerName="System.Data.SqlClient" />
    <add name="zeebregtsCs.Properties.Settings.zeebregtsdbConnectionString1"
      connectionString="Data Source=SQL-SERVER;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!"
      providerName="System.Data.SqlClient" />
    <add name="UserConnectionString"
      connectionString="Data Source=SQL-SERVER;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <zeebregtsCs.Properties.Settings>
      <setting name="pr_btn_loc" serializeAs="String">
        <value>3, 2</value>
      </setting>
      <setting name="up_btn_loc" serializeAs="String">
        <value>3, 235</value>
      </setting>
      <setting name="be_btn_loc" serializeAs="String">
        <value>112, 4</value>
      </setting>
      <setting name="pe_btn_loc" serializeAs="String">
        <value>240, 4</value>
      </setting>
      <setting name="pl_btn_loc" serializeAs="String">
        <value>229, 369</value>
      </setting>
      <setting name="se_btn_loc" serializeAs="String">
        <value>240, 235</value>
      </setting>
      <setting name="MyLoc" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="start_pos" serializeAs="String">
        <value>WindowsDefaultLocation</value>
      </setting>
      <setting name="MySize" serializeAs="String">
        <value>1024, 768</value>
      </setting>
      <setting name="MyState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UL_check" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mo_btn_loc" serializeAs="String">
        <value>517, 208</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value />
      </setting>
    </zeebregtsCs.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding"
                 receiveTimeout="00:20:00"
                 sendTimeout="00:20:00">
          <security mode="None">
            <!--<transport clientCredentialType="Windows" proxyCredentialType="Windows"/>-->
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://SERVER-EXCHANGE:8889/HostedExchangeService/"
                name="BasicEndpoint" binding="basicHttpBinding"
                bindingConfiguration="BasicBinding" contract="ExchangeService.IService1"
                /><!--address="http://192.160.0.125:8889/HostedExchangeService/"--> 
    </client>
  </system.serviceModel>
</configuration>
