/*
   dinsdag 8 oktober 201311:38:09
   User: 
   Server: SONYVAIO\SQLEXPRESS
   Database: MandagenRegistratieBeta
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Gebruiker ADD
	PersoonNrOrigineel int NOT NULL CONSTRAINT DF_Gebruiker_PersoonNrOrigineel DEFAULT -1
GO
ALTER TABLE dbo.Gebruiker SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Gebruiker', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Gebruiker', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Gebruiker', 'Object', 'CONTROL') as Contr_Per 