<?xml version="1.0"?>
<MinifierSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AddReferencesToStartupProject>true</AddReferencesToStartupProject>
  <SkipDialog>true</SkipDialog>
  <StartupProjectsSettings>
    <StartupProjectSettings>
      <Id>38d27762-a41c-44ed-8730-3b2af6115d50</Id>
      <Name>eBrochure_zeebregts</Name>
      <Minify>true</Minify>
    </StartupProjectSettings>
  </StartupProjectsSettings>
</MinifierSettings>