<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="WindowTitle" value="Mandagen Registratie RELEASE VERSIE"/>
  </appSettings>

  <connectionStrings>
    <add name="MandagenRegistratieDomain.Properties.Settings.MandagenRegistratieConnectionString"
      connectionString="Data Source=OFFICE-SERVER;Initial Catalog=MandagenRegistratie;User ID=juraci;Password=Zeebregts2013##"
      providerName="System.Data.SqlClient" />
    <add name="MandagenRegistratieDomain.Properties.Settings.ZeebregtsTestConnectionString"
      connectionString="Data Source=OFFICE-SERVER;Initial Catalog=zeebregtsdb;User ID=juraci;Password=Zeebregts2013##"
      providerName="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="ChatEndpoint" address="net.p2p://192.160.0.104:8089/ZeebregtsChannelService/Chat" binding="netPeerTcpBinding" bindingConfiguration="BindingCustomResolver" contract="ZeebregtsLogic.IChat">
      </endpoint>

    </client>

    <bindings>
      <netPeerTcpBinding>
        <!-- Refer to Peer channel security samples on how to configure netPeerTcpBinding for security -->
        <binding name="BindingCustomResolver" port="8089">
          <security mode="None"/>
          <resolver mode="Custom">
            <custom address="net.tcp://192.160.0.120:8089/ZeebregtsChannelService/peerResolverService" binding="netTcpBinding" bindingConfiguration="Binding3"/>
          </resolver>
        </binding>
      </netPeerTcpBinding>

      <netTcpBinding>
        <!-- You can change security mode to enable security -->
        <binding name="Binding3">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
