<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GebruikersMonitor.Properties.Settings.zeebregtsdbConnectionString"
            connectionString="Data Source=SQL-SERVER;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>