<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="WeekLijst" value= "D:\WeekLijst.xlsx"/>
    <add key="htmlFolder" value= "\\office-server\Bestanden\Bestanden\master\5.1) ontwikkeling\systeem Zeebregts\project Marino\MDR PDF"/>
    <add key="WindowTitle" value="MDR DEV"/>
  </appSettings>
  <connectionStrings>
    <add name="MandagenRegistratieConnectionString"
         connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratiedev;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionString"
         connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdbBeta;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <!-- BETA (Kies dan LIVE -->
    <add name="MandagenRegistratieConnectionStringBETA"
         connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratie;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionStringBETA"
         connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>