<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
    <appSettings>
      <add key="WeekLijst" value= "D:\- MDR Output\Weeklijst.xlsx"/>
      <add key="htmlFolder" value= "D:\- Data\Marino\Documents\- Essed automatisering\Zeebregts\MDR Output PDF\WindowsFormsApplication3"/>
      <add key="WindowTitle" value="MDR DEV"/>
    </appSettings>
  <connectionStrings>
    <add name="MandagenRegistratieConnectionStringDEV"
         connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratiedev;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="MandagenRegistratieConnectionStringBETA"
         connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratiedev;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionString"
         connectionString="Data Source=192.160.0.120;Initial Catalog=ZeebregtsDBBeta;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30"
        providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>