<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adres_Validator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <!--connectionString="Data Source=OFFICE-SERVER;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!" -->
        <add name="Adres_Validator.Properties.Settings.zeebregtsdbConnectionString"
            connectionString="Data Source=SQL-SERVER;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Adres_Validator.Properties.Settings>
            <setting name="proj_rownum" serializeAs="String">
                <value>0</value>
            </setting>
        </Adres_Validator.Properties.Settings>
    </userSettings>
</configuration>
