<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="eBrochureDBEntities"
      connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.160.0.121;Initial Catalog=eBrochureDB;Persist Security Info=True;User ID=Daan;Password=z33pd3b3;MultipleActiveResultSets=True;Connect Timeout=9999;Application Name=EntityFramework&quot;"
         providerName="System.Data.EntityClient"    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>