<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="WindowTitle" value="MDR LIVE" />
    <add key="useChatFunction" value="false" />
    <add key="ChannelServiceIpAddress" value="192.160.0.120" />
    <add key="ChannelServicePort" value="8089" />
    <add key="WeekviewLeesstand" value="true" />
    <add key="WeekLijst" value="\\office-server\Bestanden\Bestanden\master\5.1) ontwikkeling\systeem Zeebregts\project Marino\MDR PDF\MDR Output\Weeklijst.xlsx" />
    <add key="htmlFolder" value="\\office-server\Bestanden\Bestanden\master\5.1) ontwikkeling\systeem Zeebregts\project Marino\MDR PDF" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="MandagenRegistratieDomain.Properties.Settings.MandagenRegistratieConnectionString"
      connectionString="Data Source=localhost\SQLExpress;Initial Catalog=MandagenRegistratie;User ID=sa;Password=Zeebregts2013##"
      providerName="System.Data.SqlClient" />
    <add name="MandagenRegistratieDomain.Properties.Settings.ZeebregtsTestConnectionString"
      connectionString="Data Source=localhost\SQLExpress;Initial Catalog=ZeebregtsTest;User ID=sa;Password=Zeebregts2013##"
      providerName="" />-->
    <add name="MandagenRegistratieConnectionString" connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratie;User ID=sa;Password=Zeebregts2013##;Persist Security Info=true;" providerName="System.Data.SqlClient" />
    <!--<add name="MandagenRegistratieDomain.Properties.Settings.ZeebregtsTestConnectionString"
      connectionString="Data Source=192.160.0.120;Initial Catalog=ZeebregtsTest;User ID=sa;Password=Zeebregts2013##"
      providerName="" />-->
    <add name="ZeebregtsDBConnectionString" connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!;" providerName="System.Data.SqlClient" />
    <!-- Marino's gedeelte -->
    <!-- DEV -->
    <add name="MandagenRegistratieConnectionStringDEV" connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratieDev;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionStringDEV" connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdbBeta;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <!-- Beta -->
    <add name="MandagenRegistratieConnectionStringBETA" connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratieBeta;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionStringBETA" connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <!-- LIVE -->
    <add name="MandagenRegistratieConnectionStringLIVE" connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratie;User ID=sa;Password=Zeebregts2013##;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ZeebregtsDBConnectionStringLIVE" connectionString="Data Source=192.160.0.120;Initial Catalog=zeebregtsdb;Persist Security Info=True;User ID=daan;Password=Bl22sk22k!;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <!--<client>
      -->
    <!-- chat instance participating in the mesh -->
    <!--
      <endpoint name="ChatEndpoint" address="net.p2p://localhost:8089/ZeebregtsChannelService/Chat" binding="netPeerTcpBinding" bindingConfiguration="BindingCustomResolver" contract="ZeebregtsLogic.IChat">
      </endpoint>

    </client>

    <bindings>
      <netPeerTcpBinding>
        -->
    <!-- Refer to Peer channel security samples on how to configure netPeerTcpBinding for security -->
    <!--
        <binding name="BindingCustomResolver" port="8089">
          <security mode="None"/>
          <resolver mode="Custom">
            <custom address="net.tcp://192.160.0.120:8089/ZeebregtsChannelService/peerResolverService" binding="netTcpBinding" bindingConfiguration="Binding3"/>
          </resolver>
        </binding>
      </netPeerTcpBinding>

      <netTcpBinding>
        -->
    <!-- You can change security mode to enable security -->
    <!--
        <binding name="Binding3">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>-->
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>