USE [MandagenRegistratie]
GO
/****** Object:  StoredProcedure [dbo].[p_DeleteMandagenVoorVakmanId]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[p_DeleteMandagenVoorVakmanId]
	@VakmanId int,
	@Datum datetime,
	@DatumEind datetime,
	@ProjectleiderId int,
	@CheckDatum datetime

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ReturnId as int
	DECLARE @Count as int
 SET @Count = (SELECT COUNT(*) FROM Mandagen 
      WHERE VakmanId = @VakmanId 
     AND Begintijd > @Datum 
     AND Eindtijd < @DatumEind 
     AND ProjectleiderId = @ProjectleiderId 
     AND Status = 1
     AND Mutatiedatum > @CheckDatum)

IF @Count = 0
BEGIN
DELETE FROM  Mandagen
     WHERE VakmanId = @VakmanId 
     AND Begintijd > @Datum 
     AND Eindtijd < @DatumEind 
     AND ProjectleiderId = @ProjectleiderId 
     AND Status = 1
     --AND Mutatiedatum < @CheckDatum

SET @ReturnId = 1
END
ELSE
BEGIN
SET @ReturnId = -1
END

RETURN @ReturnId

END

GO
/****** Object:  StoredProcedure [dbo].[p_DeleteMandagenVoorVakmanIdByProject]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[p_DeleteMandagenVoorVakmanIdByProject]
	@VakmanId int,
	@ProjectId int,
	@Datum datetime,
	@DatumEind datetime,
	@ProjectleiderId int,
	@CheckDatum datetime

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ReturnId as int
	DECLARE @Count as int
 SET @Count = (SELECT COUNT(*) FROM Mandagen 
      WHERE VakmanId = @VakmanId
     AND ProjectId = @ProjectId
     AND Begintijd > @Datum 
     AND Eindtijd < @DatumEind 
     AND ProjectleiderId = @ProjectleiderId 
     AND Status = 1
     AND Mutatiedatum > @CheckDatum)

IF @Count = 0
BEGIN
DELETE FROM  Mandagen
     WHERE VakmanId = @VakmanId 
     AND ProjectId = @ProjectId
     AND Begintijd > @Datum 
     AND Eindtijd < @DatumEind 
     AND ProjectleiderId = @ProjectleiderId 
     AND Status = 1
     --AND Mutatiedatum < @CheckDatum

SET @ReturnId = 1
END
ELSE
BEGIN
SET @ReturnId = -1
END

RETURN @ReturnId

END

GO
/****** Object:  Table [dbo].[Bedrijf]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bedrijf](
	[BedrijfId] [int] IDENTITY(1,1) NOT NULL,
	[BedrijfIdOrigineel] [int] NOT NULL,
 CONSTRAINT [PK_Bedrijf] PRIMARY KEY CLUSTERED 
(
	[BedrijfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gebruiker]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gebruiker](
	[GebruikerId] [int] IDENTITY(1,1) NOT NULL,
	[Gebruikersnaam] [nvarchar](max) NOT NULL,
	[Windowsidentity] [nvarchar](max) NOT NULL,
	[Gebruikersrol] [int] NOT NULL,
 CONSTRAINT [PK_Gebruiker] PRIMARY KEY CLUSTERED 
(
	[GebruikerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mandagen]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mandagen](
	[ProjectId] [int] NOT NULL,
	[VakmanId] [int] NOT NULL,
	[VakmanstatusId] [int] NOT NULL,
	[Begintijd] [datetime] NOT NULL,
	[Eindtijd] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Uren] [int] NOT NULL,
	[Minuten] [int] NOT NULL,
	[UrenGewijzigd] [int] NOT NULL,
	[MinutenGewijzigd] [int] NOT NULL,
	[VakmansoortId] [int] NOT NULL,
	[ProjectleiderId] [int] NOT NULL,
	[Geannulleerd] [bit] NOT NULL,
	[Gewijzigd] [bit] NOT NULL,
	[Bevestigd] [bit] NOT NULL,
	[Bevestigingsdatum] [datetime] NULL,
	[IsChauffeurHeen] [bit] NOT NULL,
	[IsChauffeurTerug] [bit] NOT NULL,
	[KentekenHeen] [nvarchar](50) NULL,
	[KentekenTerug] [nvarchar](50) NULL,
	[Definitief] [bit] NOT NULL,
	[Mutatiedatum] [datetime] NOT NULL,
	[MutatieDoorProjectleiderId] [int] NOT NULL,
 CONSTRAINT [PK_Mandagen_1] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[VakmanId] ASC,
	[VakmanstatusId] ASC,
	[Begintijd] ASC,
	[Eindtijd] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MandagenArchief]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MandagenArchief](
	[MandagenArchiefId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[VakmanId] [int] NOT NULL,
	[VakmanstatusId] [int] NOT NULL,
	[Begintijd] [datetime] NOT NULL,
	[Eindtijd] [datetime] NOT NULL,
	[Uren] [int] NOT NULL,
	[Minuten] [int] NOT NULL,
	[VakmansoortId] [int] NOT NULL,
	[ProjectleiderId] [int] NOT NULL,
	[Bevestigd] [bit] NOT NULL,
	[Bevestigingsdatum] [datetime] NULL,
	[IsChauffeurHeen] [bit] NOT NULL,
	[IsChauffeurTerug] [bit] NOT NULL,
	[KentekenHeen] [nvarchar](50) NULL,
	[KentekenTerug] [nvarchar](50) NULL,
	[Mutatiedatum] [datetime] NOT NULL,
	[MutatieDoorProjectleiderId] [int] NOT NULL,
	[Archiefdatum] [datetime] NOT NULL,
 CONSTRAINT [PK_MandagenArchief] PRIMARY KEY CLUSTERED 
(
	[MandagenArchiefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mutatie]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mutatie](
	[MutatieId] [int] IDENTITY(1,1) NOT NULL,
	[MutatietypeId] [int] NOT NULL,
	[AanvraagpersoonId] [int] NOT NULL,
	[AcceptatiepersoonId] [int] NOT NULL,
	[Aanvraagdatum] [datetime] NOT NULL,
	[Geaccepteerd] [bit] NOT NULL,
	[Acceptatiedatum] [datetime] NULL,
	[Originelewaarde] [nvarchar](max) NOT NULL,
	[Nieuwewaarde] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Mutaties] PRIMARY KEY CLUSTERED 
(
	[MutatieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mutatietype]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mutatietype](
	[MutatietypeId] [int] NOT NULL,
	[Naam] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Mutatietype] PRIMARY KEY CLUSTERED 
(
	[MutatietypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectIdOrigineel] [int] NOT NULL,
	[Naam] [nvarchar](max) NOT NULL,
	[ProjectleiderId] [int] NOT NULL,
	[Actief] [bit] NOT NULL,
	[Mutatiedatum] [datetime] NULL,
	[Postcode] [nvarchar](50) NOT NULL,
	[Huisnummer] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](max) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projectleider]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projectleider](
	[ProjectleiderId] [int] IDENTITY(1,1) NOT NULL,
	[ContactIdOrigineel] [int] NOT NULL,
	[Actief] [bit] NULL,
 CONSTRAINT [PK_Projectleider] PRIMARY KEY CLUSTERED 
(
	[ProjectleiderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projectplanning]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projectplanning](
	[ProjectId] [int] NOT NULL,
	[Fase] [int] NOT NULL,
	[Begin] [datetime] NOT NULL,
	[Eind] [datetime] NULL,
	[ProjectleiderId] [int] NOT NULL,
	[Aantalvakmannen] [int] NOT NULL,
 CONSTRAINT [PK_Projectplanning] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[Fase] ASC,
	[Begin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectProjectleider]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectProjectleider](
	[ProjectId] [int] NOT NULL,
	[ProjectleiderId] [int] NOT NULL,
	[Begin] [datetime] NOT NULL,
	[Eind] [datetime] NULL,
 CONSTRAINT [PK_ProjectProjectleider] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[ProjectleiderId] ASC,
	[Begin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectVakman]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectVakman](
	[ProjectId] [int] NOT NULL,
	[VakmanId] [int] NOT NULL,
	[VakmanstatusId] [int] NOT NULL,
	[Begin] [datetime] NOT NULL,
	[Eind] [datetime] NULL,
 CONSTRAINT [PK_ProjectVakman] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[VakmanId] ASC,
	[VakmanstatusId] ASC,
	[Begin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Route]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[ProjectId] [int] NOT NULL,
	[ChauffeurId] [int] NOT NULL,
	[VakmanId] [int] NOT NULL,
	[Kenteken] [nvarchar](50) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Heen] [bit] NOT NULL,
	[Volgorde] [int] NOT NULL,
	[PostcodeVan] [nvarchar](50) NOT NULL,
	[HuisnummerVan] [nvarchar](50) NOT NULL,
	[AdresVan] [nvarchar](max) NULL,
	[PostcodeNaar] [nvarchar](50) NOT NULL,
	[HuisnummerNaar] [nvarchar](50) NOT NULL,
	[AdresNaar] [nvarchar](max) NULL,
	[AfstandInKm] [decimal](6, 3) NOT NULL,
 CONSTRAINT [PK_Route] PRIMARY KEY CLUSTERED 
(
	[ChauffeurId] ASC,
	[VakmanId] ASC,
	[ProjectId] ASC,
	[Kenteken] ASC,
	[Datum] ASC,
	[Heen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vakman]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vakman](
	[VakmanId] [int] IDENTITY(1,1) NOT NULL,
	[ContactIdOrigineel] [int] NOT NULL,
	[BedrijfId] [int] NULL,
	[Actief] [bit] NOT NULL,
	[Intern] [bit] NOT NULL,
	[ZZP] [bit] NULL,
	[Bsn] [nvarchar](50) NULL,
	[Loonkosten] [decimal](6, 2) NULL,
	[Var] [varbinary](max) NULL,
	[Kvk] [varbinary](max) NULL,
	[ProjectleiderId] [int] NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[Postcode] [nvarchar](50) NOT NULL,
	[Huisnummer] [nvarchar](50) NOT NULL,
	[Ophaaladres] [nvarchar](max) NULL,
	[Ophaalpostcode] [nvarchar](50) NULL,
	[Ophaalhuisnummer] [nvarchar](50) NULL,
	[IsChauffeur] [bit] NOT NULL,
	[Kenteken] [nvarchar](50) NULL,
	[Ma] [int] NULL,
	[Di] [int] NULL,
	[Wo] [int] NULL,
	[Do] [int] NULL,
	[Vr] [int] NULL,
	[Za] [int] NULL,
	[Zo] [int] NULL,
	[Werkweek] [int] NULL,
	[DefaultBeginuur] [int] NULL,
	[DefaultBeginminuut] [int] NULL,
 CONSTRAINT [PK_Persoon] PRIMARY KEY CLUSTERED 
(
	[VakmanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vakmanplanning]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vakmanplanning](
	[VakmanplanningId] [int] IDENTITY(1,1) NOT NULL,
	[VakmanId] [int] NOT NULL,
	[VakmanstatusId] [int] NOT NULL,
	[Begin] [datetime] NULL,
	[Eind] [datetime] NULL,
 CONSTRAINT [PK_Vakmanplanning] PRIMARY KEY CLUSTERED 
(
	[VakmanplanningId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vakmansoort]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vakmansoort](
	[VakmansoortId] [int] NOT NULL,
	[Omschrijving] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Vakmansoort] PRIMARY KEY CLUSTERED 
(
	[VakmansoortId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vakmanstatus]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vakmanstatus](
	[VakmanstatusId] [int] NOT NULL,
	[Omschrijving] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Vakmanstatus] PRIMARY KEY CLUSTERED 
(
	[VakmanstatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[View_1]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        MProject.ProjectId, MProject.ProjectIdOrigineel, MProject.Naam, MProject.ProjectleiderId, MProject.Actief, MProject.Mutatiedatum, MProject.Postcode, 
                         MProject.Huisnummer, MProject.Adres, ZPersoon.voornaam, ZPersoon.tussenvoegsel, ZPersoon.achternaam
FROM            dbo.Project AS MProject CROSS JOIN
                         ZeebregtsTest.dbo.persoon AS ZPersoon INNER JOIN
                         dbo.Projectleider AS MProjectleider ON MProjectleider.ProjectleiderId = MProject.ProjectleiderId INNER JOIN
                         dbo.Projectleider AS MProjectleider_1 ON MProjectleider_1.ContactIdOrigineel = ZPersoon.persoon_ID

GO
/****** Object:  View [dbo].[vwProject]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwProject]
AS
SELECT        MProject.ProjectId, MProject.ProjectIdOrigineel, MProject.Naam, MProject.ProjectleiderId, MProject.Actief, MProject.Mutatiedatum, MProject.Postcode, 
                         MProject.Huisnummer, MProject.Adres, ZPersoon.persoon_ID, ZPersoon.persoon_nr, ZPersoon.taak_id, ZPersoon.bedrijf_nr, ZPersoon.man, 
                         ZPersoon.voorletters, ZPersoon.voornaam, ZPersoon.tussenvoegsel, ZPersoon.achternaam, ZPersoon.zamobiel, ZPersoon.zatelefoonvast, ZPersoon.zafax, 
                         ZPersoon.zaemail, ZPersoon.geboortedatum, ZPersoon.vastevrijedag1, ZPersoon.vastevrijedag2, ZPersoon.vastevrijedag3, ZPersoon.NIETactief, 
                         ZPersoon.adres_id, ZPersoon.telefoon_nr_settings, ZPersoon.telefoon_nr_1, ZPersoon.telefoon_nr_2, ZPersoon.telefoon_nr_3, 
                         ZBedrijf.naam AS Bedrijfsnaam, ZProject.project_NR AS ProjectNrOrigineel
FROM            dbo.Project AS MProject CROSS JOIN
                         [OFFICE-SERVER].ZeebregtsDb.dbo.persoon AS ZPersoon INNER JOIN
                         dbo.Projectleider AS MProjectleider ON MProject.ProjectleiderId = MProjectleider.ProjectleiderId AND 
                         MProjectleider.ContactIdOrigineel = ZPersoon.persoon_ID INNER JOIN
                         [OFFICE-SERVER].ZeebregtsDb.dbo.Project AS ZProject ON ZProject.project_ID = MProject.ProjectIdOrigineel INNER JOIN
                         [OFFICE-SERVER].ZeebregtsDb.dbo.bedrijf AS ZBedrijf ON ZProject.opdrachtgeverZEEBREGTS_nr = ZBedrijf.bedrijf_nr

GO
/****** Object:  View [dbo].[vwVakman]    Script Date: 17-5-2013 16:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwVakman]
AS
SELECT        MVakman.VakmanId, MVakman.ContactIdOrigineel, MVakman.BedrijfId, MVakman.Actief, MVakman.Intern, MVakman.ZZP, MVakman.Bsn, 
                         MVakman.Loonkosten, MVakman.[Var], MVakman.Kvk, MVakman.ProjectleiderId, MVakman.Adres, MVakman.Postcode, MVakman.Huisnummer, 
                         MVakman.Ophaaladres, MVakman.Ophaalpostcode, MVakman.Ophaalhuisnummer, MVakman.IsChauffeur, MVakman.Kenteken, MVakman.Ma, MVakman.Di, 
                         MVakman.Wo, MVakman.Do, MVakman.Vr, MVakman.Za, MVakman.Zo, MVakman.Werkweek, MVakman.DefaultBeginuur, MVakman.DefaultBeginminuut, 
                         ZPersoon.voornaam, ZPersoon.tussenvoegsel, ZPersoon.achternaam, ZBedrijf.naam AS bedrijfnaam, ZBedrijf.zoeknaam AS bedrijfzoeknaam, 
                         ZBedrijf.plaats AS bedrijfplaats
FROM            dbo.Vakman AS MVakman INNER JOIN
                         [OFFICE-SERVER].ZeebregtsDb.dbo.persoon AS ZPersoon ON MVakman.ContactIdOrigineel = ZPersoon.persoon_ID INNER JOIN
                         [OFFICE-SERVER].ZeebregtsDb.dbo.bedrijf AS ZBedrijf ON ZPersoon.bedrijf_nr = ZBedrijf.bedrijf_nr

GO
SET IDENTITY_INSERT [dbo].[Bedrijf] ON 

INSERT [dbo].[Bedrijf] ([BedrijfId], [BedrijfIdOrigineel]) VALUES (4, 537)
INSERT [dbo].[Bedrijf] ([BedrijfId], [BedrijfIdOrigineel]) VALUES (5, 1)
INSERT [dbo].[Bedrijf] ([BedrijfId], [BedrijfIdOrigineel]) VALUES (6, 1)
SET IDENTITY_INSERT [dbo].[Bedrijf] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ProjectId], [ProjectIdOrigineel], [Naam], [ProjectleiderId], [Actief], [Mutatiedatum], [Postcode], [Huisnummer], [Adres]) VALUES (0, 0, N'ProjectFictief', 1, 1, CAST(0x0000A11500000000 AS DateTime), N'6512HC', N'20', N'')
INSERT [dbo].[Project] ([ProjectId], [ProjectIdOrigineel], [Naam], [ProjectleiderId], [Actief], [Mutatiedatum], [Postcode], [Huisnummer], [Adres]) VALUES (21, 1168, N'Tilburg Talent Square', 4, 1, CAST(0x0000A1B600C5EF95 AS DateTime), N'', N'', N'')
INSERT [dbo].[Project] ([ProjectId], [ProjectIdOrigineel], [Naam], [ProjectleiderId], [Actief], [Mutatiedatum], [Postcode], [Huisnummer], [Adres]) VALUES (22, 1143, N'Erica Terpstra bad Nijmegen', 2, 1, CAST(0x0000A1B600E71F75 AS DateTime), N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Projectleider] ON 

INSERT [dbo].[Projectleider] ([ProjectleiderId], [ContactIdOrigineel], [Actief]) VALUES (1, 1, 1)
INSERT [dbo].[Projectleider] ([ProjectleiderId], [ContactIdOrigineel], [Actief]) VALUES (2, 7, 1)
INSERT [dbo].[Projectleider] ([ProjectleiderId], [ContactIdOrigineel], [Actief]) VALUES (3, 6, 1)
SET IDENTITY_INSERT [dbo].[Projectleider] OFF
SET IDENTITY_INSERT [dbo].[Vakman] ON 

INSERT [dbo].[Vakman] ([VakmanId], [ContactIdOrigineel], [BedrijfId], [Actief], [Intern], [ZZP], [Bsn], [Loonkosten], [Var], [Kvk], [ProjectleiderId], [Adres], [Postcode], [Huisnummer], [Ophaaladres], [Ophaalpostcode], [Ophaalhuisnummer], [IsChauffeur], [Kenteken], [Ma], [Di], [Wo], [Do], [Vr], [Za], [Zo], [Werkweek], [DefaultBeginuur], [DefaultBeginminuut]) VALUES (8, 1408, 4, 1, 0, NULL, N'Jeroen v/d Broek', NULL, NULL, NULL, 1, N'', N'', N'', NULL, NULL, NULL, 0, NULL, 8, 8, 8, 8, 8, 0, 0, 40, 8, 0)
INSERT [dbo].[Vakman] ([VakmanId], [ContactIdOrigineel], [BedrijfId], [Actief], [Intern], [ZZP], [Bsn], [Loonkosten], [Var], [Kvk], [ProjectleiderId], [Adres], [Postcode], [Huisnummer], [Ophaaladres], [Ophaalpostcode], [Ophaalhuisnummer], [IsChauffeur], [Kenteken], [Ma], [Di], [Wo], [Do], [Vr], [Za], [Zo], [Werkweek], [DefaultBeginuur], [DefaultBeginminuut]) VALUES (9, 13, 5, 1, 1, NULL, N'B. Bastings', NULL, NULL, NULL, 1, N'', N'', N'', NULL, NULL, NULL, 0, NULL, 8, 8, 8, 8, 8, 0, 0, 40, 8, 0)
INSERT [dbo].[Vakman] ([VakmanId], [ContactIdOrigineel], [BedrijfId], [Actief], [Intern], [ZZP], [Bsn], [Loonkosten], [Var], [Kvk], [ProjectleiderId], [Adres], [Postcode], [Huisnummer], [Ophaaladres], [Ophaalpostcode], [Ophaalhuisnummer], [IsChauffeur], [Kenteken], [Ma], [Di], [Wo], [Do], [Vr], [Za], [Zo], [Werkweek], [DefaultBeginuur], [DefaultBeginminuut]) VALUES (10, 15, 6, 1, 1, NULL, N'Hennie Coehorst', NULL, NULL, NULL, 1, N'', N'', N'', NULL, NULL, NULL, 0, NULL, 8, 8, 8, 8, 8, 0, 0, 40, 8, 0)
SET IDENTITY_INSERT [dbo].[Vakman] OFF
INSERT [dbo].[Vakmansoort] ([VakmansoortId], [Omschrijving]) VALUES (1, N'Intern')
INSERT [dbo].[Vakmansoort] ([VakmansoortId], [Omschrijving]) VALUES (2, N'Extern bedrijf')
INSERT [dbo].[Vakmansoort] ([VakmansoortId], [Omschrijving]) VALUES (3, N'ZZP')
INSERT [dbo].[Vakmanstatus] ([VakmanstatusId], [Omschrijving]) VALUES (1, N'Ingepland')
INSERT [dbo].[Vakmanstatus] ([VakmanstatusId], [Omschrijving]) VALUES (2, N'Ziek')
INSERT [dbo].[Vakmanstatus] ([VakmanstatusId], [Omschrijving]) VALUES (3, N'Vakantie')
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_UrenGewijzigd]  DEFAULT ((0)) FOR [UrenGewijzigd]
GO
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_MinutenGewijzigd]  DEFAULT ((0)) FOR [MinutenGewijzigd]
GO
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_Geannulleerd]  DEFAULT ((0)) FOR [Geannulleerd]
GO
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_Gewijzigd]  DEFAULT ((1)) FOR [Gewijzigd]
GO
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_Definitief]  DEFAULT ((0)) FOR [Definitief]
GO
ALTER TABLE [dbo].[Mandagen] ADD  CONSTRAINT [DF_Mandagen_Mutatiedatum]  DEFAULT (getdate()) FOR [Mutatiedatum]
GO
ALTER TABLE [dbo].[MandagenArchief] ADD  CONSTRAINT [DF_MandagenArchief_Archiefdatum]  DEFAULT (getdate()) FOR [Archiefdatum]
GO
ALTER TABLE [dbo].[Vakman] ADD  CONSTRAINT [DF_Persoon_Loonkosten]  DEFAULT ((0)) FOR [BedrijfId]
GO
ALTER TABLE [dbo].[Vakman] ADD  CONSTRAINT [DF_Persoon_Actief]  DEFAULT ((1)) FOR [Actief]
GO
ALTER TABLE [dbo].[Vakman] ADD  CONSTRAINT [DF_Persoon_Eigenvervoer]  DEFAULT ((0)) FOR [Kenteken]
GO
ALTER TABLE [dbo].[Vakman] ADD  CONSTRAINT [DF_Vakman_DefaultBeginuur]  DEFAULT ((8)) FOR [DefaultBeginuur]
GO
ALTER TABLE [dbo].[Vakman] ADD  CONSTRAINT [DF_Vakman_DefaultBeginminuut]  DEFAULT ((0)) FOR [DefaultBeginminuut]
GO
ALTER TABLE [dbo].[Mandagen]  WITH CHECK ADD  CONSTRAINT [FK_Mandagen_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Mandagen] CHECK CONSTRAINT [FK_Mandagen_Project]
GO
ALTER TABLE [dbo].[Mandagen]  WITH CHECK ADD  CONSTRAINT [FK_Mandagen_Vakman] FOREIGN KEY([VakmanId])
REFERENCES [dbo].[Vakman] ([VakmanId])
GO
ALTER TABLE [dbo].[Mandagen] CHECK CONSTRAINT [FK_Mandagen_Vakman]
GO
ALTER TABLE [dbo].[Mandagen]  WITH CHECK ADD  CONSTRAINT [FK_Mandagen_Vakmansoort] FOREIGN KEY([VakmansoortId])
REFERENCES [dbo].[Vakmansoort] ([VakmansoortId])
GO
ALTER TABLE [dbo].[Mandagen] CHECK CONSTRAINT [FK_Mandagen_Vakmansoort]
GO
ALTER TABLE [dbo].[Mandagen]  WITH CHECK ADD  CONSTRAINT [FK_Mandagen_Vakmanstatus] FOREIGN KEY([VakmanstatusId])
REFERENCES [dbo].[Vakmanstatus] ([VakmanstatusId])
GO
ALTER TABLE [dbo].[Mandagen] CHECK CONSTRAINT [FK_Mandagen_Vakmanstatus]
GO
ALTER TABLE [dbo].[Projectplanning]  WITH CHECK ADD  CONSTRAINT [FK_Projectplanning_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Projectplanning] CHECK CONSTRAINT [FK_Projectplanning_Project]
GO
ALTER TABLE [dbo].[Projectplanning]  WITH CHECK ADD  CONSTRAINT [FK_Projectplanning_Projectleider] FOREIGN KEY([ProjectleiderId])
REFERENCES [dbo].[Projectleider] ([ProjectleiderId])
GO
ALTER TABLE [dbo].[Projectplanning] CHECK CONSTRAINT [FK_Projectplanning_Projectleider]
GO
ALTER TABLE [dbo].[ProjectProjectleider]  WITH CHECK ADD  CONSTRAINT [FK_ProjectProjectleider_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[ProjectProjectleider] CHECK CONSTRAINT [FK_ProjectProjectleider_Project]
GO
ALTER TABLE [dbo].[ProjectProjectleider]  WITH CHECK ADD  CONSTRAINT [FK_ProjectProjectleider_Projectleider] FOREIGN KEY([ProjectleiderId])
REFERENCES [dbo].[Projectleider] ([ProjectleiderId])
GO
ALTER TABLE [dbo].[ProjectProjectleider] CHECK CONSTRAINT [FK_ProjectProjectleider_Projectleider]
GO
ALTER TABLE [dbo].[ProjectVakman]  WITH CHECK ADD  CONSTRAINT [FK_ProjectVakman_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[ProjectVakman] CHECK CONSTRAINT [FK_ProjectVakman_Project]
GO
ALTER TABLE [dbo].[ProjectVakman]  WITH CHECK ADD  CONSTRAINT [FK_ProjectVakman_Vakman] FOREIGN KEY([VakmanId])
REFERENCES [dbo].[Vakman] ([VakmanId])
GO
ALTER TABLE [dbo].[ProjectVakman] CHECK CONSTRAINT [FK_ProjectVakman_Vakman]
GO
ALTER TABLE [dbo].[ProjectVakman]  WITH CHECK ADD  CONSTRAINT [FK_ProjectVakman_Vakmanstatus] FOREIGN KEY([VakmanstatusId])
REFERENCES [dbo].[Vakmanstatus] ([VakmanstatusId])
GO
ALTER TABLE [dbo].[ProjectVakman] CHECK CONSTRAINT [FK_ProjectVakman_Vakmanstatus]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([ProjectId])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Project]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Vakman] FOREIGN KEY([VakmanId])
REFERENCES [dbo].[Vakman] ([VakmanId])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Vakman]
GO
ALTER TABLE [dbo].[Route]  WITH CHECK ADD  CONSTRAINT [FK_Route_Vakman1] FOREIGN KEY([ChauffeurId])
REFERENCES [dbo].[Vakman] ([VakmanId])
GO
ALTER TABLE [dbo].[Route] CHECK CONSTRAINT [FK_Route_Vakman1]
GO
ALTER TABLE [dbo].[Vakman]  WITH CHECK ADD  CONSTRAINT [FK_Vakman_Bedrijf] FOREIGN KEY([BedrijfId])
REFERENCES [dbo].[Bedrijf] ([BedrijfId])
GO
ALTER TABLE [dbo].[Vakman] CHECK CONSTRAINT [FK_Vakman_Bedrijf]
GO
ALTER TABLE [dbo].[Vakmanplanning]  WITH CHECK ADD  CONSTRAINT [FK_Vakmanplanning_Vakman] FOREIGN KEY([VakmanId])
REFERENCES [dbo].[Vakman] ([VakmanId])
GO
ALTER TABLE [dbo].[Vakmanplanning] CHECK CONSTRAINT [FK_Vakmanplanning_Vakman]
GO
ALTER TABLE [dbo].[Vakmanplanning]  WITH CHECK ADD  CONSTRAINT [FK_Vakmanplanning_Vakmanstatus] FOREIGN KEY([VakmanstatusId])
REFERENCES [dbo].[Vakmanstatus] ([VakmanstatusId])
GO
ALTER TABLE [dbo].[Vakmanplanning] CHECK CONSTRAINT [FK_Vakmanplanning_Vakmanstatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[26] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MProject"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MProjectleider"
            Begin Extent = 
               Top = 17
               Left = 351
               Bottom = 130
               Right = 540
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZPersoon"
            Begin Extent = 
               Top = 6
               Left = 578
               Bottom = 136
               Right = 773
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MProjectleider_1"
            Begin Extent = 
               Top = 6
               Left = 811
               Bottom = 119
               Right = 1000
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 5445
         Width = 5460
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2115
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 13' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'50
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[12] 2[24] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MProject"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZPersoon"
            Begin Extent = 
               Top = 6
               Left = 578
               Bottom = 136
               Right = 773
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MProjectleider"
            Begin Extent = 
               Top = 17
               Left = 351
               Bottom = 130
               Right = 540
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZProject"
            Begin Extent = 
               Top = 132
               Left = 260
               Bottom = 262
               Right = 556
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZBedrijf"
            Begin Extent = 
               Top = 6
               Left = 811
               Bottom = 136
               Right = 1013
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 34
         Width = 284
         Width = 5445
         Width = 5460
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
    ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwProject'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[9] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MVakman"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZPersoon"
            Begin Extent = 
               Top = 6
               Left = 272
               Bottom = 136
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZBedrijf"
            Begin Extent = 
               Top = 6
               Left = 505
               Bottom = 136
               Right = 707
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 36
         Width = 284
         Width = 1500
         Width = 2280
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin Criter' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwVakman'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'iaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwVakman'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwVakman'
GO
