<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MandagenRegistratieDomain.Properties.Settings.MandagenRegistratieBetaConnectionString1"
      connectionString="Data Source=SQL-SERVER\SQLEXPRESS;Initial Catalog=MandagenRegistratieBeta;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="MandagenRegistratieDomain.Properties.Settings.ZeebregtsDbConnectionString"
      connectionString="Data Source=OFFICE-SERVER;Initial Catalog=ZeebregtsDb;User ID=daan"
      providerName="System.Data.SqlClient" />
    <add name="MandagenRegistratieDomain.Properties.Settings.MandagenRegistratieBetaConnectionString"
      connectionString="Data Source=192.160.0.120;Initial Catalog=MandagenRegistratieBeta;User ID=sa;Password=Zeebregts2013##"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
