<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appWorkingFolder" value="D:\\project Marino" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Excel2SqlControl.Properties.Settings.Excel2SQLConnectionString"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013"
      providerName="System.Data.SqlClient" />
    <add name="Excel2SqlControl.Properties.Settings.ExcelSQLConnectionString"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013"
      providerName="System.Data.SqlClient" />
    <add name="Excel2SqlControl.Properties.Settings.Excel2SQLConnectionString1"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013"
      providerName="System.Data.SqlClient" />
    <add name="Excel2SqlContainer.Properties.Settings.ExcelSQLConnectionString"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013" />
    <add name="Excel2SqlContainer.Properties.Settings.Excel2SQLConnectionString"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013" />
    <add name="Excel2SqlContainer.Properties.Settings.Excel2SQLConnectionString1"
      connectionString="Data Source=37.153.205.70;Initial Catalog=ExcelSQL;User ID=marino;Password=Zeebregts2013" />
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>
